body {
    background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697500800&semt=ais');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    <!background-color: #f2f2f2;>
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF7F50;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    margin: 0 auto;
}

.contact h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact label, .contact textarea, .contact input[type="text"], .contact input[type="email"] {
    display: block;
    margin: 10px 0;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact textarea {
    resize: vertical;
}

.contact input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.contact input[type="submit"]:hover {
    background-color: #0056b3;
}
